NODE_ENV=production
PORT=3333
DASHBOARD_HOST=0.0.0.0
DASHBOARD_KEY=change-me

CONFIG_PATH=/var/data/channels.json
CONFIG_BACKUP_DIR=/var/data
MUSIC_DIRS=/var/data/music
YTDLP_PATH=yt-dlp

DISCORD_CLIENT_ID_MAIN=
DISCORD_TOKEN_MAIN=

DISCORD_CLIENT_ID_RADIO2=
DISCORD_TOKEN_RADIO2=
DISCORD_CLIENT_ID_RADIO3=
DISCORD_TOKEN_RADIO3=
DISCORD_CLIENT_ID_RADIO4=
DISCORD_TOKEN_RADIO4=
DISCORD_CLIENT_ID_RADIO5=
DISCORD_TOKEN_RADIO5=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
